# Default ignored files
/workspace.xml
/tasks.xml
/shelf/
/gradle.xml
/deployment.xml
/libraries/

# User-specific stuff
/dataSources/
/dataSources.ids/
/dataSources.local.xml
/sqlDataSources.xml
/dynamic.xml
/uiDesigner.xml
/dbnavigator.xml

# Sensitive or high-churn files
/usage.statistics.xml
/android/
/sonarlint/
/find/
/find.xml
/profiles_settings.xml
/fileColors.xml
/codeInsightSettings.xml

# Misc
/prettier.xml
/watcher.xml
/vcs.xml
/usage.statistics.xml
/jsLinters/
/externalDependencies.xml
/php.xml
/dictionaries/
/project.iml
/modules.xml
/pyproject.xml
/misc.xml
/encodings.xml
/compiler.xml